<a href="https://colab.research.google.com/github/AndresR2711/PruebasAnalisisDatos/blob/main/LABGRUPAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {'Country': ['Costa Rica', 'India', 'Brazil'],'Capital': ['San José','New Delhi','Brasilia'],'Population':[4500000, 1303171035,207847528]}
df = pd.DataFrame(data,columns=['Country', 'Capital', 'Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San José     4500000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
print("Promedio de los elementos del vector")
Suma=0
Media=0
Temp=[]
print("Ingrese cantidad de Temperaturas: ")
N=int(input())

for i in range(N):
  temperatura=float(input("Ingrese la temperatura: "))
  Temp.append(temperatura)
  Suma=Suma+Temp[i]
Media=Suma/N
print(Media)

Promedio de los elementos del vector
Ingrese cantidad de Temperaturas:
5
Ingrese la temperatura: 32
Ingrese la temperatura: 45
Ingrese la temperatura: 38
Ingrese la temperatura: 2
Ingrese la temperatura: 12
25.8

In [ ]:
import pandas as pd
mascota = pd.DataFrame(
data={
    'name':['Minino','Milo','Snoppy','Blanco','Littlepony'],
    'type':['gato','perro','perro', 'perro','caballo']
  },
index=[71,42,11, 98,42]
)

visitas=pd.DataFrame(
data={
'pet_id': [42, 31, 71, 42, 98, 42],
'fecha': ['2019-03-15', '2019-03-15', '2019 -04-05' , "2019-04-06", '2019-04-12','2019-04-12'],
'costo': [2000, 5000, 1000, 5000, 6000, 10000]})

mascota.index.rename('pet_id',inplace=True)
visitas.index.rename('visit_id',inplace=True)

print(mascota.query('pet_id==71'))

print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)


print(visitas.sort_values(by="costo",ascending=False))

tienda=pd.merge(mascota,visitas,how="cross")
print(tienda)

          name  type
pet_id
71      Minino  gato
29000
1000
10000
          pet_id        fecha  costo
visit_id
0             42   2019-03-15   2000
1             31   2019-03-15   5000
2             71  2019 -04-05   1000
3             42   2019-04-06   5000
4             98   2019-04-12   6000
5             42   2019-04-12  10000
          pet_id        fecha  costo
visit_id
5             42   2019-04-12  10000
4             98   2019-04-12   6000
1             31   2019-03-15   5000
3             42   2019-04-06   5000
0             42   2019-03-15   2000
2             71  2019 -04-05   1000
          name     type  pet_id        fecha  costo
0       Minino     gato      42   2019-03-15   2000
1       Minino     gato      31   2019-03-15   5000
2       Minino     gato      71  2019 -04-05   1000
3       Minino     gato      42   2019-04-06   5000
4       Minino     gato      98   2019-04-12   6000
5       Minino     gato      42   2019-04-12  10000
6         Milo    perro      42   2019-03-15   2000
7         Milo    perro      31   2019-03-15   5000
8         Milo    perro      71  2019 -04-05   1000
9         Milo    perro      42   2019-04-06   5000
10        Milo    perro      98   2019-04-12   6000
11        Milo    perro      42   2019-04-12  10000
12      Snoppy    perro      42   2019-03-15   2000
13      Snoppy    perro      31   2019-03-15   5000
14      Snoppy    perro      71  2019 -04-05   1000
15      Snoppy    perro      42   2019-04-06   5000
16      Snoppy    perro      98   2019-04-12   6000
17      Snoppy    perro      42   2019-04-12  10000
18      Blanco    perro      42   2019-03-15   2000
19      Blanco    perro      31   2019-03-15   5000
20      Blanco    perro      71  2019 -04-05   1000
21      Blanco    perro      42   2019-04-06   5000
22      Blanco    perro      98   2019-04-12   6000
23      Blanco    perro      42   2019-04-12  10000
24  Littlepony  caballo      42   2019-03-15   2000
25  Littlepony  caballo      31   2019-03-15   5000
26  Littlepony  caballo      71  2019 -04-05   1000
27  Littlepony  caballo      42   2019-04-06   5000
28  Littlepony  caballo      98   2019-04-12   6000
29  Littlepony  caballo      42   2019-04-12  10000

In [ ]:
import pandas as pd
students = [('Ana', 23,'San Jose','A'),
  ('Esteban',22, 'Heredia','B'),
  ('Juan',22,'Cartago','A'),
  ('Karla',22, 'Limón','A'),
  ('Ernesto',21, 'Heredia','B')]

In [ ]:
df = pd.DataFrame (students, columns =['Nombre', 'Edad', 'Ciudad', 'Seccion'
])

In [ ]:
#2. Imprima la información almacenada en df.
print(df)

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limón       A
4  Ernesto    21   Heredia       B

In [ ]:
#3. Definición de una función para retornar todo el conjunto de datos acerca de la información a buscar, por ejemplo si queremos retornar toda la información acerca de la edad de una persona.
def buscaX(dataframe, columna, x):
    return dataframe.loc[dataframe[columna] == x]
buscaX(df, 'Nombre', "Esteban")

#buscaX(df, 'Edad', 22)

    Nombre  Edad   Ciudad Seccion
1  Esteban    22  Heredia       B

In [ ]:
#4
print("4. El siguiente código que será explicado por la profesora presenta una función que tiene como objetivo buscar un dato dentro del data frame y devolver la ubicación de los elementos que coinciden con esa búsqueda.\n")
def getIndexes(dfObj,value):
  listOfPos=[]
  result = dfObj.isin([value])
  seriesObj=result.any()
  columnNames=list(seriesObj[seriesObj==True].index)
  
  for col in columnNames:
    rows=list(result[col][result[col]==True].index)

    for row in rows:
      listOfPos.append((row,col))

  return listOfPos

#5
print("5. ¿Cómo se puede llamar a esta función?")
print("getPos,a razon de que esto es lo que retorna\n")
#6
print("6. Los parámetros son los que puede cambiar. Haga uso de las siguientes instrucciones para conocer la información que se recibe al ingresar la letra 'A' de la sección.\n")
listOfPositions=getIndexes(df,'A')
print('Index position of 22 in Dataframe: ')

for i in range(len(listOfPositions)):
  print(listOfPositions[i])

#7
print("\n7. Pruebe otros valores a buscar, para ello puede sustituir a letra por otro elemento a buscar puede hacer uso de los valores de ciudad, nombre y edad.")
print("\nCuidad\n")
listOfPositions=getIndexes(df,'Heredia')
for i in range(len(listOfPositions)):
  print(listOfPositions[i])
print("\nNombre\n")
listOfPositions=getIndexes(df,'Esteban')
for i in range(len(listOfPositions)):
  print(listOfPositions[i])

print("\nEdad\n")
listOfPositions=getIndexes(df,22)
for i in range(len(listOfPositions)):
  print(listOfPositions[i])

print("\n8. RETO: Proceda aplicar en equipos un elemento a buscar dentro de su dataframe del proyecto")
print("Se decidio que el elemento a buscar sería el mes en el que se dio una mayor actividad de transacciones")
print("\n9. Coloque el nombre de sus compañeros en el equipo de Python.\nJose Andres Rojas Rojas\nTreicy Leon\nAlejandro Barrantes Castro\nAndres Cabezas Vizcaino")

4. El siguiente código que será explicado por la profesora presenta una función que tiene como objetivo buscar un dato dentro del data frame y devolver la ubicación de los elementos que coinciden con esa búsqueda.

5. ¿Cómo se puede llamar a esta función?
getPos,a razon de que esto es lo que retorna

6. Los parámetros son los que puede cambiar. Haga uso de las siguientes instrucciones para conocer la información que se recibe al ingresar la letra 'A' de la sección.

Index position of 22 in Dataframe:
(0, 'Seccion')
(2, 'Seccion')
(3, 'Seccion')

7. Pruebe otros valores a buscar, para ello puede sustituir a letra por otro elemento a buscar puede hacer uso de los valores de ciudad, nombre y edad.

Cuidad

(1, 'Ciudad')
(4, 'Ciudad')

Nombre

(1, 'Nombre')

Edad

(1, 'Edad')
(2, 'Edad')
(3, 'Edad')

8. RETO: Proceda aplicar en equipos un elemento a buscar dentro de su dataframe del proyecto
Se decidio que el elemento a buscar sería el mes en el que se dio una mayor actividad de transacciones

9. Coloque el nombre de sus compañeros en el equipo de Python.
Jose Andres Rojas Rojas
Treicy Leon
Alejandro Barrantes Castro
Andres Cabezas Vizcaino